<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!--configuration核心配置文件-->
<configuration>

    <!--设置别名简化 resultType 书写，该标签必须在 environments 前-->
    <typeAliases>
        <!--1、单个别名的定义： alias：别名，type：别名映射的类型-->
        <typeAlias type="com.bluemsun.island.entity.User" alias="User"/>

        <!--2、批量别名定义：指定包路径，自动扫描包下边的类，定义别名，别名默认为类名（首字母小写或大写）
        <package name="com.mybatis.entity"/>  -->
    </typeAliases>

    <!--environments配置环境组-->
    <!--default默认环境-->
    <!-- 配置开发环境，可以配置多个，在具体用时再做切换 -->
    <environments default="default">
        <!--environment单个环境-->
        <environment id="default">
            <!--transactionManager配置事务管理器-->
            <!-- 事务管理类型：JDBC、MANAGED -->
            <transactionManager type="JDBC"/>
            <!--配置连接池-->
            <!-- 数据源类型：POOLED、UNPOOLED、JNDI -->
            <dataSource type="POOLED">
                <!--                <property name="driver" value="${db.driver}"/>-->
                <!--                <property name="url" value="${db.url}"/>-->
                <!--                <property name="username" value="${db.user}"/>-->
                <!--                <property name="password" value="${db.password}"/>-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/userdata?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;rewriteBatchedStatements=true&amp;allowPublicKeyRetrieval=true&amp;allowMultiQueries=true"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <!--每一个Mapper.xml需要在Mybatis核心配置文件中注册-->
    <mappers>
        <!-- 路径用 斜线（/） 分割，而不是用 点(.) -->
        <mapper resource="mapper/"/>
    </mappers>
</configuration>