<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.island.mapper.AuditMapper">

    <resultMap id="BaseResultMap" type="Audit">
        <id property="auditId" column="audit_id" jdbcType="INTEGER"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="sectionName" column="section_name" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        audit_id,content,`description`,image_url,user_id,`status`,section_name
    </sql>

    <select id="selectById" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_audit
        where audit_id = #{auditId}
    </select>


    <delete id="deleteById" parameterType="int">
        delete
        from tb_audit
        where audit_id = #{auditId}
    </delete>

    <insert id="insert" parameterType="Audit">
        insert into tb_audit
        ( content, description, user_id,image_url,section_name)
        values ( #{content}, #{description},#{userId},#{imageUrl},#{sectionName})
    </insert>

    <insert id="insertSelective" parameterType="Audit">
        insert into tb_audit
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="content != null">content,</if>
            <if test="description != null">description,</if>
            <if test="userId != null">userId,</if>
            <if test="status != null">status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="content != null">content = #{content},</if>
            <if test="description != null">description = #{description},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
    </insert>

    <update id="updateByIdSelective" parameterType="Audit">
        update tb_audit
        <set>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where audit_id = #{auditId}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_audit order by audit_id desc;
    </select>

    <select id="getAllCount" resultType="java.lang.Integer">
        select COUNT(*)
        from tb_audit;
    </select>


</mapper>
