<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluemsun.island.dao.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="User">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="identifyId" column="identify_id" jdbcType="TINYINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="sex" column="sex" jdbcType="TINYINT"/>
        <result property="signature" column="signature" jdbcType="VARCHAR"/>
        <result property="birthday" column="birthday" jdbcType="DATE"/>
        <result property="imageUrl" column="image_url" jdbcType="VARCHAR"/>
        <result property="core" column="core" jdbcType="INTEGER"/>
        <result property="status" column="user_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,identify_id,username,
        `password`,`phone_number`,sex,
        signature,birthday,image_url,core,user_status
    </sql>

    <insert id="insert" parameterType="User">
        insert into tb_user
            (username, password, phone_number)
        values (#{username}, #{password}, #{phoneNumber});
    </insert>

    <delete id="deleteById" parameterType="int">
        delete
        from tb_user
        where id = #{id}
    </delete>

    <update id="updateImageUrl" parameterType="user">
        update bluemsun_island.tb_user
        set image_url = #{imageUrl}
        where id = #{id}
    </update>

    <update id="updateOneSelective" parameterType="User">
        update tb_user
        <set>
            <if test="username!=null and username!='' ">
                username=#{username},
            </if>
            <if test="password!=null and password!='' ">
                `password`=#{password},
            </if>
            <if test="phoneNumber!=null and phoneNumber!='' ">
                phone_number=#{phoneNumber},
            </if>
            <if test="sex!=null">
                sex=#{sex},
            </if>
            <if test="signature!=null ">
                signature =#{signature},
            </if>
            <if test="birthday!=null">
                birthday =#{birthday},
            </if>
            <if test="core!=null">
                core =#{core},
            </if>
            <if test="status!=null">
                user_status =#{status}
            </if>
        </set>
        where id = #{id};
    </update>


    <select id="selectAll" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        limit #{startIndex},#{pageSize};
    </select>


    <select id="getAllCount" resultType="int">
        select COUNT(*)
        from tb_user;
    </select>

    <select id="selectOneByPhoneNumberAndPassword" parameterType="User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where phone_number = #{phoneNumber} and password = #{password};
    </select>

    <select id="selectOneById" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_user
        where id = #{userId};
    </select>


</mapper>
